mixin icon(name, modClass)
	if modClass == undefined
		- var modClass = ''
	else
		- var modClass = ' ' + modClass
	svg(class=name + modClass)
		use(xlink:href= '#' + name)


mixin underline(val, modifier)
	- var modifier = (modifier === undefined) ? '' : `is-underlined--${modifier}`
	span.is-underlined(class=modifier)!= val

mixin picture(srcPathWithoutExt, svg)
	picture
		if svg
			source(type="image/svg+xml" srcset=`${srcPathWithoutExt}.svg`)
			source(srcset=`${srcPathWithoutExt}@1.png, ${srcPathWithoutExt}@2.png 2x`)
			img(src=`${srcPathWithoutExt}@1.png`)
		else
			source(srcset=`${srcPathWithoutExt}@1.png, ${srcPathWithoutExt}@2.png 2x`)
			img(src=`${srcPathWithoutExt}@1.png`)
